@import "../../stylesheets/helper";
@import "../../stylesheets/variables";

.custom-col {
  height: 114px;
  text-align: center;
  line-height: 100px;
  font-family: $font;
  color: $white;
  font-weight: bold;
  font-size: 18px;
  .inner {
    text-decoration: none;
    color: $white;
    border-radius: 5px;
    &:hover {
      opacity: 0.9;
    }
  }
  .color-hue1 {
    background-color: $color-hue1;
  }
  .color-hue2 {
    background-color: $color-hue2;
  }
  .color-hue3 {
    background-color:$color-hue3;
  }
  .color-hue4 {
    background-color: $color-hue4;
  }
  .color-hue5{
    background-color: $color-hue5;
  }
  .color-hue6 {
    background-color: $color-hue6;
  }
}
