//colors
$primary: #08070d;
$primary-light: #151323;
$accent: #808080;
$white: #fff;
$highlight: #ed4036;
$tranparent: rgba(0, 0, 0, 0);
$lighter-white_1: rgba(255, 255, 255, 0.1);
$lighter-white_2: rgba(255, 255, 255, 0.2);
$lighter-white: rgba(255, 255, 255, 0.3);
$sea-green: #3caea3;
$ochre-yellow: #e09e50;
$chrimson-red: #9a1750;
$magenta: #5f0f4e;
$light-violet: #8d3fd0;
$bright-pink: #dd4381;

//font
$font: "Titillium Web";
