//colors
$primary:#080007;
$primary-light: #151323;
$accent: #808080;
$white: #fff;
$highlight: #dc005d;
$tranparent: rgba(0, 0, 0, 0);
$lighter-white_1: rgba(255, 255, 255, 0.1);
$lighter-white_2: rgba(255, 255, 255, 0.2);
$lighter-white: rgba(255, 255, 255, 0.3);
$color-hue1:#654063;
$color-hue2:#69467A;
$color-hue3:#876693;
$color-hue4:#4F3D69;
$color-hue5:#6F608F;
$color-hue6:#A37B9E;