@import "../stylesheets/all";
@import "../stylesheets/variables";

.content-box {
  background: $primary-light;
  position: absolute !important;
  @include media-md {
    position: relative !important;
  }
}

.browse-btn{
  float: right;
  margin-right: 1%;
  font-family: $font;
  font-size: 12px;
  border: 1px solid $white;
  border-radius: 20px;
  padding: 4px 8px;
  &:hover{
  opacity: 0.6;
  }
}

.title{
  font-family:$font;
  color:$white;
  font-size: 25px;
  font-weight: 500;
  margin-top:70px;
  margin-left:35px;
  margin-bottom:-15px;
  @include media-md {
    font-size: 35px;
  }
}

.load-more{
  font-family: $font;
  font-size: 16px;
  border: 1px solid $white;
  border-radius: 20px;
  padding: 6px 15px;
  margin-bottom: 50px;
  &:hover{
    background-color: $tranparent;
    color:$white;
  }
}
