@import "../components/Sidebar/sidebar";
@import "../components//Hamburger/hamburger";
@import "../components//Card//card";
@import "../stylesheets/variables";
@import "../stylesheets//config";

//home screen
.content-box {
  background: $primary-light;
  position: absolute !important;
  @include media-md {
    position: relative !important;
  }
}
