@import "../../stylesheets/variables";
@import "../../stylesheets/helper";

.card-container {
  padding: 10px;
  display: grid;
  .card-img-custom {
    outline: 1px solid $lighter-white;
    outline-offset: -10px;
  }
  .card-body {
    margin-left: -15px;
    .ico-wrapper {
      float: left;
      width: 15%;
      top: 150px;
      .heart-btn {
        color: $lighter-white;
        background-color: $tranparent;
        border: none;
        padding: 0px;
      }
      .heart-ico {
        font-size: 12px;
        margin-right: 5px;
        @include media-md {
          font-size: 18px;
        }
      }
      .heart-ico-filled {
        color: $highlight;
        font-size: 12px;
        margin-right: 5px;
        @include media-md {
          font-size: 18px;
        }
      }
      .view-ico {
        font-size: 12px;
        color: $lighter-white;
        margin-right: 5px;
        @include media-md {
          font-size: 18px;
        }
        &:hover {
          color: $highlight;
        }
      }
      .add-btn {
        background-color: $tranparent;
        border: none;
        color: $lighter-white;
        margin: 0px;
        padding: 0px;
        .add-ico {
          font-size: 15px;
          @include media-md {
            font-size: 22px;
          }
          &:hover {
            color: $highlight;
          }
        }
      }
    }
  }
}

.play-ico {
  margin-top: -25px;
  a {
    width: 18%;
    color: $white;
    opacity: 0.9;
    &:hover {
      color: $highlight;
    }
  }
}

.album-artist-name-wrapper {
  width: 90%;
  .artist-name {
    font-size: 8px;
    color: $lighter-white;
    margin-top: 2px;
    @include line-clamp(1, 1.412);
    @include media-md {
      font-size: 10px;
      font-style: italic;
    }
  }
  .album-name {
    font-weight: bold;
    font-size: 10px;
    font-family: $font;
    letter-spacing: 0.5px;
    color: $white;
    @include line-clamp(1, 1.412);
    @include media-md {
      font-size: 13px;
    }
  }
}
